# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# embedded objects
*.bin
*.dmp
*.elf
*.hex
*.lss

# makefile generated
*.d

# eclipse files
.cproject
.project
.settings
